@media only screen and (max-width: 992px){
    html{
        background-color: hsl(0, 0%, 95%);
        margin: 0;
    }

    body{
        width: 80%;
        margin: auto;
    }

    div#content{
        display: flex;
        flex-direction: column;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    div#sedans{
        background-color: hsl(31, 77%, 52%);
        border-radius: 10px 10px 0px 0px;
    }

    div#suvs{
        background-color: hsl(184, 100%, 22%);
    }

    div#luxury{
        background-color: hsl(179, 100%, 13%);
        border-radius: 0px 0px 10px 10px;
    }

    div.cards{
        width: 75%;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    h1{
        color: hsl(0, 0%, 95%);
        font-family: 'Big Shoulders Display', sans-serif;
    }

    p{
        color: hsla(0, 0%, 100%, 0.75);
        font-family: 'Lexend Deca', sans-serif;
        font-size: 15px;
        line-height: 1.5;
    }

    button{
        font-family: 'Lexend Deca', sans-serif;
        border: none;
        background-color: hsl(0, 0%, 95%);
        padding: 15px 30px;
        border-radius: 30px;
        text-align: center;
    }

    button#sed{
        color: hsl(31, 77%, 52%);
    }

    button#suv{
        color:hsl(184, 100%, 22%);
    }

    button#lux{
        color:hsl(184, 100%, 22%);
    }

    footer{
        text-align: center;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 12px;
    }
}


@media only screen and (min-width: 992px){
    html{
        height: 100%;
        width: 100%;
        background-color:hsl(0, 0%, 95%);
        margin: 0;
        display: flex;
        justify-content: center;
    }

    body{
        width: 70%;
        margin: auto;
    }

    div#content{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    div#sedans{
        background-color:hsl(31, 77%, 52%);
        border-radius: 10px 0px 0px 10px;
    }

    div#suvs{
        background-color:hsl(184, 100%, 22%);
    }

    div#luxury{
        background-color:hsl(179, 100%, 13%);
        border-radius: 0px 10px 10px 0px;
    }

    div.cards{
        width: 75%;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    h1{
        color:hsl(0, 0%, 95%);
        font-family: 'Big Shoulders Display', sans-serif;
    }

    p{
        color:hsl(0, 0%, 95%);
        font-family: 'Lexend Deca', sans-serif;
        font-size: 15px;
        line-height: 1.5;
    }

    button{
        font-family: 'Lexend Deca', sans-serif;
        border: none;
        background-color:hsl(0, 0%, 95%);
        padding: 15px 30px;
        border-radius: 30px;
        text-align: center;
    }

    button#sed{
        color:hsl(31, 77%, 52%);
    }

    #sed:hover{
        color:hsl(0, 0%, 95%);
        background-color:hsl(31, 77%, 52%);
        padding: 13px 28px;
        border-width: 2px;
        border-style: solid;
        border-color:hsl(0, 0%, 95%);
        cursor: pointer;
    }

    button#suv{
        color:hsl(184, 100%, 22%);
    }

    #suv:hover{
        color:hsl(0, 0%, 95%);
        background-color:hsl(184, 100%, 22%);
        padding: 13px 28px;
        border-width: 2px;
        border-style: solid;
        border-color:hsl(0, 0%, 95%);
        cursor: pointer;
    }

    button#lux{
        color:hsl(179, 100%, 13%);
    }

    #lux:hover{
        color:hsl(0, 0%, 95%);
        background-color:hsl(179, 100%, 13%);
        padding: 13px 28px;
        border-width: 2px;
        border-style: solid;
        border-color:hsl(0, 0%, 95%);
        cursor: pointer;
    }

    footer{
        text-align: center;
        font-family: 'Lexend Deca', sans-serif;
        font-size: 12px;
    }
}